# Secret stuff
run.txt

# node-dirty file-based DB.
# If your list of users is too big for this
# solution to handle, you've already outgrown
# the scope of this project. :)
#dirty.db

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
