html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
#layout {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 1rem;
}
#container {
  min-height: 20rem;
}
#container.loading {
  background-image: url('/public/images/loading.gif');
  background-position: center 6rem;
  background-repeat: no-repeat;
}
h1 {
  font-size: 4rem;
  font-weight: 100;
}
.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user {
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 1rem;
}
.user a {
  color: #59F;
  display: block;
  margin-right: 2rem;
  min-height: 10rem;
  padding: 1rem 1rem 1rem 12rem;
  position: relative;
  text-decoration: none;
}
.user a:hover {
  background: #EEE;
  border-radius: 0 1rem 1rem 0;
}
.user .name {
  font-weight: 300;
}
.user .username {
  background: #59F;
  background-image: url('/public/images/github_64_black.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  border-radius: 2rem;
  color: #FFF;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem 0.5rem 3rem
}
.user .timeago {
  color: #999;
  font-size: 1.6rem;
  font-style: italic;
}
.user img.avatar {
  height: 10rem;
  position: absolute;
    left: 0;
    top: 0;
  width: 10rem;
}

footer {
  background: #DDD;
  color: #333;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 3rem 2rem 8rem 2rem;
}
